.search-results {
  .results-header {
    display: flex;
    flex-wrap: wrap;
  }
  .results-header:not(:first-child),
  .result-header:not(:first-child) {
    span {
      flex: 1 1 5rem;
    }
  }
  .results-header,
  .result-header {
    span,
    .image {
      display: inline-block;
      margin-right: var(--margin-xl);
      max-width: 10rem;
    }
  }
  .title,
  .author {
    flex: 1 1 5rem;
  }
  .location,
  .owner {
    flex: 1 1 6.5rem;
  }
  .short-details {
    max-width: 50.35rem;
  }
}
