.search-results {
  .title,
  .author {
    width: 9.05rem;
  }
  .title,
  .author {
    max-width: 10.4rem;
  }
  .location,
  .owner {
    width: 7.7rem;
  }
  .image,
  .title,
  .author,
  .location,
  .owner {
    display: inline-block;
    margin-right: var(--margin-xl);
  }
  .results-header {
    padding-left: 3.85rem;
    padding-bottom: var(--margin-m);
    padding-right: 8.55rem;
    overflow: hidden;
    border-bottom: var(--border-gray);
    height: 1.6rem;
    color: var(--gray);
  }
}
