.search-results {
  .title,
  .author {
    width: 9.05rem;
  }
  .title,
  .author {
    max-width: 10.4rem;
  }
  .location,
  .owner {
    width: 7.7rem;
  }
  .image,
  .title,
  .author,
  .location,
  .owner {
    display: inline-block;
    margin-right: var(--margin-xl);
  }
}
