nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--margin-l);
  padding-bottom: var(--margin-l);
  .logo-wrapper {
    display: flex;
    align-items: center;
    img {
      margin-right: var(--margin-m);
    }
  }
}
