.shearch-page {
  background: url(../../assets/images/main-background.svg),
    url(../../assets/images/right-black-square.svg);
  background-size: 1857px, var(--max-width);
  background-position: top center, top center;
  background-repeat: repeat-y, no-repeat;
}
