:root {
  --margin-xxxl: calc(var(--margin-xxl) * 2);
  --margin-xxl: calc(var(--margin-l) * 3);
  --margin-xl: var(--root-line-height);
  --margin-l: calc(var(--root-line-height) / 2);
  --margin-m: calc(var(--margin-l) / 2);

  --margin-top-m: calc(var(--margin-m) - 0.125rem);

  --max-width: 60rem;

  --border-radius: 0.8rem;
  --border-width: 0.1rem;
  --border-gray: var(--border-width) solid var(--gray);
  --border-accent: var(--border-width) solid var(--accent);

  --box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
}

body {
  margin: 0;
}

[class*="page"] {
  padding-top: var(--margin-xxxl);
}

.container {
  padding-left: var(--margin-l);
  padding-right: var(--margin-l);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  img {
    margin-right: var(--margin-m);
  }
}

.results-header {
  padding-left: 3.95rem;
  padding-bottom: var(--margin-m);
  padding-right: 8.55rem;
  overflow: hidden;
  border-bottom: var(--border-gray);
  height: 1.6rem;
  color: var(--gray);
}

.universal-background {
  background: url(../../assets/images/main-background.svg),
    url(../../assets/images/right-black-square.svg);
  background-size: 92.85rem, var(--max-width);
  background-position: top center, top center;
  background-repeat: repeat-y, no-repeat;
}
